@page
@model NET_PS_8.Pages.Categories.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="">
    <div>
        <h4>Category</h4>

        <table class="table tableProd w-50">
            <thead>
                <tr>
                    <th class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Category.id)
                    </th>
                    <th class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Category.shortName)
                    </th>
                    <th class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Category.longName)
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayFor(model => model.Category.id)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Category.shortName)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Category.longName)
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <br />
    <br />
    <div>
        <h4>Products with this category</h4>

        <table class="table tableProd w-50">
            <thead>
                <tr>
                    <th class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Product.id)
                    </th>
                    <th class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Product.name)
                    </th>
                    <th class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Product.price)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var p in Model.productList)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(m => p.id)
                        </td>
                        <td>
                            @Html.DisplayFor(m => p.name)
                        </td>
                        <td>
                            @Html.DisplayFor(m => p.price)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Category.id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>